{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}Mes vidéos{% endblock %}

{% block body %}
    <body>
    <h3>Dashboard</h3>
    <hr>
    <a href="/dashboard/upload">Upload by input</a>
    <a href="/dashboard/upload_url">Upload by Url</a>
    <body>
    {% endblock %}
