{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}Mes vidéos{% endblock %}

{% block body %}
    <body>
    <h3>Dashboard</h3>
    <hr>
    <a href="/dashboard/upload">Upload</a>
    <a href="/channel">Mes vidéos</a>
    <body>
    {% endblock %}
