{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}Mes vidéos{% endblock %}

{% block body %}
    <h3>Mes vidéos</h3>
    <hr>
    <a href="/dashboard/upload">Upload</a>

{% endblock %}
